<!-- <h1 *ngIf="isShow">
  {{username}}
</h1>

<button type="button" (click)="onToggle()">clicked </button>

<div class="radio">
  <label for="">
    <input type="radio" name="male" (click)="onChange(true)">
    cancel
  </label>
  <label for="">
    <input type="radio" name="male" (click)="onChange(false)">
    ok
  </label>
</div>

<h3 *ngIf="isChecked; else elseBlock">Hợp lệ</h3>

<ng-template #elseBlock>
  <h3>Không hợp lệ</h3>
</ng-template>

<hr />
<div class="form-group">
  <label>Tuổi: </label>
  <input type="number" name="age" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="age">
</div>

<p>when used then in condition -> target value right there the opposite you need ng-container </p>
<ng-template *ngIf="age >18; then enough else elseNotEnough">
</ng-template>
<ng-template #enough>
  <h3> Cách 1 Đủ tuổi </h3>
</ng-template>
<ng-template #elseNotEnough>
  <h3>chưa đủ tuổi</h3>
</ng-template>

<hr />
<ng-container *ngIf="level >1; else less">
  <h3>Greater than 1 </h3>
</ng-container>
<ng-template #less>
  <h3>less than 1</h3>
</ng-template>

<h2>*ngFor - loop</h2> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products;
      let i = index;
      let f = first;
      let l = last;
      let e=even;
      let o =odd;
      trackBy:myTrackByFn;
      " [style.background-color]="f && 'gray' " [style.color]="e ? 'blue' : 'green'">
      <td>{{i + 1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
    </tr>
  </tbody>
</table>

<button type="button" (click)="onLoadData()">
  onLoad
</button>


<h2>Ng switch case</h2>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users;
      let i = index;" [ngSwitch]="user.country">
      <td>{{i + 1}}</td>
      <td>{{user.name}}</td>
      <td>

        <span *ngSwitchCase="'VN'" class="text-danger">
          {{user.country}}
        </span>
        <span *ngSwitchCase="'USA'" class="text-warning">
          {{user.country}}
        </span>
        <span *ngSwitchDefault class="text-dark">
          {{user.country}}
        </span>
      </td>
    </tr>
  </tbody>
</table>
