<!-- <app-hello></app-hello> -->
<!-- <app-component-to-view></app-component-to-view> -->
<!-- <app-view-to-component></app-view-to-component> -->
<!-- <app-to-way-binding></app-to-way-binding> -->
<!-- <app-structural-directive></app-structural-directive> -->

<app-header></app-header>
<!-- <app-product></app-product> -->


<!-- <app-attribute></app-attribute> -->
<!-- <app-child [title]="title" [name]="name"
(txtFullName)="onGetFName($event)"
></app-child> -->
<!-- <app-input></app-input> -->
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
